node_modules/*
!node_modules/@desmoslabs/

node_modules/@desmoslabs/*
!node_modules/@desmoslabs/desmjs-keplr

node_modules/@desmoslabs/desmjs-keplr/node_modules/

*.log*
.nuxt
.nitro
.cache
.output
.env
.mf
wrangler.toml
dist
coverage