@font-face {
  font-family: 'MilkdownIcons';
  src:  url('~/assets/fonts/milkdown/MilkdownIcons.eot?ehy25x');
  src:  url('~/assets/fonts/milkdown/MilkdownIcons.eot?ehy25x#iefix') format('embedded-opentype'),
    url('~/assets/fonts/milkdown/MilkdownIcons.ttf?ehy25x') format('truetype'),
    url('~/assets/fonts/milkdown/MilkdownIcons.woff?ehy25x') format('woff'),
    url('~/assets/fonts/milkdown/MilkdownIcons.svg?ehy25x#MilkdownIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.milkdown-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MilkdownIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code-1:before {
  content: "\e900";
}
.icon-code-circle:before {
  content: "\e901";
}
.icon-grid-10:before {
  content: "\e902";
}
.icon-link:before {
  content: "\e903";
}
.icon-paperclip-2:before {
  content: "\e904";
}
.icon-task:before {
  content: "\e905";
}
.icon-task-dots:before {
  content: "\e906";
}
.icon-task-numbered:before {
  content: "\e907";
}
.icon-text-bold:before {
  content: "\e908";
}
.icon-text-italic:before {
  content: "\e909";
}
.icon-text-underline:before {
  content: "\e90a";
}
