@font-face {
  font-family: "MilkdownIcons";
  src: url("~/assets/fonts/milkdown/MilkdownIcons.eot?xafdqd");
  src: url("~/assets/fonts/milkdown/MilkdownIcons.eot?xafdqd#iefix") format("embedded-opentype"),
    url("~/assets/fonts/milkdown/MilkdownIcons.ttf?xafdqd") format("truetype"),
    url("~/assets/fonts/milkdown/MilkdownIcons.woff?xafdqd") format("woff"),
    url("~/assets/fonts/milkdown/MilkdownIcons.svg?xafdqd#MilkdownIcons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.milkdown-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "MilkdownIcons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-math:before {
  content: "\e90e";
}
.icon-dots:before {
  content: "\e902";
}
.icon-code-1:before {
  content: "\e900";
}
.icon-code-circle:before {
  content: "\e901";
}
.icon-grid-10:before {
  content: "\e903";
}
.icon-hierarchy:before {
  content: "\e904";
}
.icon-image:before {
  content: "\e905";
}
.icon-link:before {
  content: "\e906";
}
.icon-paperclip-2:before {
  content: "\e907";
}
.icon-task:before {
  content: "\e908";
}
.icon-task-dots:before {
  content: "\e909";
}
.icon-task-numbered:before {
  content: "\e90a";
}
.icon-text-bold:before {
  content: "\e90b";
}
.icon-text-italic:before {
  content: "\e90c";
}
.icon-text-underline:before {
  content: "\e90d";
}

@keyframes animForward {
  from {
    font-size: 1.5rem;
    opacity: 1;
  }

  50% {
    font-size: 1rem;
    opacity: 0.5;
  }

  to {
    font-size: 1.5rem;
    opacity: 1;
  }
}

@keyframes animBackward {
  from {
    font-size: 1rem;
    opacity: 0.5;
  }

  50% {
    font-size: 1.5rem;
    opacity: 1;
  }

  to {
    font-size: 1rem;
    opacity: 0.5;
  }
}

.icon-dots.back-animated {
  opacity: 0.5 !important;
  animation-name: animBackward !important;
}

.icon-dots.forward-animated {
  opacity: 1 !important;
  animation-name: animForward !important;
}

.icon-dots.animated-icon {
  display: inline-block !important;
  animation-duration: 0.8s !important;
  animation-iteration-count: infinite !important;
}
